<ion-view title="Carrinho de compras" id="page7">
  <ion-content padding="true" style="background: url(img/1OZ1Rh3NTqqnS4IDzgd0_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="carrinhoDeCompras-list12">
      <ion-item id="carrinhoDeCompras-list-item32">Item 1</ion-item>
      <ion-item id="carrinhoDeCompras-list-item33">Item 2</ion-item>
      <ion-item id="carrinhoDeCompras-list-item34">Item 3</ion-item>
    </ion-list>
    <div class="spacer" style="height: 25px;"></div>
    <button id="carrinhoDeCompras-button17" class="button button-balanced  button-block">Comprar agora</button>
  </ion-content>
</ion-view>