<ion-view title="Configurações" id="page6">
  <ion-content padding="true" style="background: url(img/YQpbvIDNReurYCQUOFKw_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 25px;"></div>
    <button id="configuraEs-button10" class="button button-light  button-block">Conta</button>
    <button id="configuraEs-button14" class="button button-light  button-block">Privacidade e segurança</button>
    <button id="configuraEs-button15" class="button button-light  button-block">Avalie nosso app</button>
  </ion-content>
</ion-view>