<ion-view title="Home" id="page1">
  <ion-content padding="true" style="background: url(img/54UmiIoQde2RpnxfotWV_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 5px;"></div>
    <h2 id="home-heading1" style="color:#A14646;font-weight:400;text-align:center;">Promoções do dia</h2>
    <ion-list id="home-list6">
      <ion-item id="home-list-item15">Cerveja
        <span class="item-note">R$ 2,99</span>
      </ion-item>
      <ion-item id="home-list-item16">Rodízio de pizza
        <span class="item-note">R$ 25,00</span>
      </ion-item>
      <ion-item id="home-list-item17">Rodízio de carnes
        <span class="item-note">R$ 27,00</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>