<ion-view title="Login" id="page4">
  <ion-content padding="true" style="background: url(img/BICCOxT1SjK1emev783F_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 25px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username/Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.home" id="login-button1" style="border-radius:25px 25px 25px 25px;" class="button button-balanced  button-block">Log in</a>
      <button id="login-button3" style="border-radius:25px 25px 25px 25px;" class="button button-positive  button-block">Facebook</button>
      <button id="login-button4" style="border-radius:25px 25px 25px 25px;" class="button button-assertive  button-block">Google +</button>
      <a ui-sref="menu.signup" id="login-button2" style="border-radius:25px 25px 25px 25px;" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>