<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" style="background: url(img/vttzmrF0SHOWdVESNYex_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="side-menu-left has-header ">
      <div class="spacer" style="height: 30px;"></div>
      <ion-list id="menu-list4">
        <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="menu.home" menu-close="">Home
          <i class="icon ion-android-home"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item11" ui-sref="meusPedidos" menu-close="">Meus pedidos
          <i class="icon ion-ios-wineglass"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item2" ui-sref="mesas" menu-close="">Mesas
          <i class="icon ion-android-calendar"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item14" ui-sref="menu.carrinhoDeCompras" menu-close="">Cardápio
          <i class="icon ion-android-clipboard"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="configuraEs" menu-close="">Configurações
          <i class="icon ion-android-settings"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item8" ui-sref="menu.sair" menu-close="">Sair
          <i class="icon ion-log-out"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>