<ion-view title="Mesas" id="page2">
  <ion-content padding="true" style="background: url(img/P1rKlyRfS8GTv1hdsWHD_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="mesas-list13">
      <ion-item class="item-icon-right assertive" id="mesas-list-item38">Mesa 1
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="mesas-list-item39">Mesa 2
        <i class="icon ion-checkmark-circled"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="mesas-list-item40">Mesa 3
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="mesas-list-item9">Mesa 4
        <i class="icon ion-ios-checkmark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>