<ion-view title="Meus pedidos" id="page3">
  <ion-content padding="true" style="background: url(img/Pc5Cl0lSPOlwjmkeU2Ag_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="meusPedidos-list11">
      <ion-item class="item-icon-right assertive" id="meusPedidos-list-item26">Cerveja
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="meusPedidos-list-item27">Pizza de musarela
        <i class="icon ion-checkmark-circled"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="meusPedidos-list-item28">Pizza portuguesa
        <i class="icon ion-checkmark-circled"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
    <button id="meusPedidos-button9" class="button button-balanced  button-block">Fazer mais pedidos</button>
  </ion-content>
</ion-view>