<ion-view title="Sair" id="page8" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/x0UF1gKPR861EbW3DuqV_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 25px;"></div>
    <div id="sair-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#9B2B2B;font-size:20px;">Deseja sair da aplicação?</p>
    </div>
    <div id="sair-button-bar1" class="button-bar">
      <a ui-sref="menu.login" id="sair-button11" class="button button-balanced  button-block">Sim</a>
      <a ui-sref="menu.home" id="sair-button13" class="button button-assertive  button-block">Não</a>
    </div>
  </ion-content>
</ion-view>