<ion-view title="Signup" id="page5">
  <ion-content padding="true" style="background: url(img/I9AFk5bRDiMo6Q7Ttemv_background-flyer-restaurant-11x15cm-300dpi-rgb-690x941.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 25px;"></div>
    <form id="signup-form2" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="menu.home" id="signup-button5" style="border-radius:25px 25px 25px 25px;" class="button button-balanced  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>